.res-highlighting em{ color: #20bf6b;}

.search-form .contextual-region .block .block-oeaw .block-searchsb-block {
    background-color: red;
    
}

.search-form, 
.class-form {   
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.86)!important;
    -moz-box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.86)!important;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.86)!important;

}

.search-form input {
    max-width: 200px!important;
}
.depagree-form input{
    width: 100%!important;
}

/** Download collection css  **/
.collection_info {
  background: #fff;
  border-color: #88DBDF;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  text-align:center;
}
.size_text{
    font-size: 18px;
    font-weight: bold;
}
.size_text_red{
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.coll_info_green {
  box-shadow: 0 1px 3px rgba(99,206,108,0.12), 0 1px 2px rgba(99,206,108,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.coll_info_green:hover {
  box-shadow: 0 14px 28px rgba(99,206,108,0.25), 0 10px 10px rgba(99,206,108,0.22);
}

.coll_info_red {
  box-shadow: 0 1px 3px rgba(225,55,55,0.12), 0 1px 2px rgba(225,55,55,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.coll_info_red:hover {
  box-shadow: 0 14px 28px rgba(225,55,55,0.25), 0 10px 10px rgba(225,55,55,0.22);
}

.collection-input-format {
    background: #fff;
    border-color: #88DBDF;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    height: 25px;
    padding: 10px;
    width: 200px;
    box-sizing:border-box;
    text-align:center;
}

/** Download collection css end **/

.success_box_oeaw
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #88DBDF;
    border: solid 1px white;
    border-radius: 6px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    margin:0 auto;
    text-align: center;
    display: inline-block;
    padding: 5px;
    max-width: 400px;
    display: none;
}
.error_box_oeaw
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #ff6348;
    border: solid 1px white;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin:0 auto;
    text-align: center;
    display: inline-block;
    padding: 5px;
    max-width: 400px;
    display: none;
}

.lng-switcher.active a span {
    color: #88DBDF;
}
.lng-switcher.active a:hover span {
    color: #444;
}

/**  LOADER CSS  **/
#loader-div {
    display:none;
}
.loader-div {
    display:none;
}
.loader-bg{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.7);
    z-index: 9999;
}
.loader {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 60px;
    height: 60px;
    position:absolute;
    left:50%; 
    top:50%;
    margin-left:-30px; /*image width/2 */
    margin-top:-30px; /*image height/2 */
}

.shibboleth_login_info {
    font-weight: bold;
    color: red !important;
}

.detail-h2 {
    font-size: 26px;
    line-height:26px;
}

.right-box-h2 {
    font-size: 26px;
    line-height: 22px;
}

.right-box-h3 {
    font-size: 24px;
    line-height: 22px;
}


.breadcrumb {
    width: 100% !important;
    color: white !important;
    
}

nav.breadcrumb > .breadcrumb {
    width: 1110px !important;
}

.nav-link.dropdown-toggle {
    min-width: 150px !important ;
}

.dropdown-toggle::after {
    
    
}


.arche-detail-main-content {
    width: 90% !important;
    display: table !important;
    margin: 0 auto !important;
}

.overview-h3 {
    font-size: 24px;
    line-height: 22px;
    text-decoration: underline  #88DBDF;  
    text-decoration-thickness: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.overview-block {
    padding-bottom:20px;
}

.detail-right-divider {
    border-left: 1px solid rgba(0,0,0,0.1);
}

#overviewTab li.nav-item > .nav-link {
    background-color: #F1F1F1;
    color: #444;
    margin-right: 1px;
}

#overviewTab li.nav-item > .nav-link.active {
    background-color: #444;
    color: #F1F1F1;
    margin-right: 1px;
}

#detail-right-side .card {
    border-top: 5px solid #3B89A0;
}

#detail-right-side .res-act-button {
    background-color: #3B89A0;
    color: white;
}

#detail-right-side .res-act-button a {
    color: white;
    font-weight: bold;
}

.bg-black {
    background-color: #000 !important;
    color: #fff !important;
}
.res-act-button.hideChildView {
    display: none;
}


.loader-cite {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 47px;
    height: 47px;
    margin: 0 auto;
}
.loader-hp-left {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 47px;
    height: 47px;
    margin: 0 auto;
}
.loader-versions {
    background-image: url("../images/arche_logo_flip_47px.gif");
    width: 47px;
    height: 47px;
    margin: 0 auto;
}

.versions-block-div {
    margin-top: 20px;
}

/***  DISSERV LOGIN FORM START  ***/ 

#dissServLoginform
{
    width:200px;
    height:auto;
    margin-top:10px;
    background-color:#88DBDF;
    border-radius:3px;
    box-shadow:0px 0px 10px 0px #424242;
    padding:10px;
    box-sizing:border-box;
    font-family:helvetica;
    visibility:hidden;
    display:none;
}

#dissServLoginform p
{
    font-size:14px;
    color:#E6E6E6;
}
#dissServLoginform #username
{
    margin-top:5px;
    width:100%;
    height:20px;
    border-radius:3px;
    padding:5px;
}
#dissServLoginform #password
{

    margin-top:5px;
    width:100%;
    height:20px;
    border-radius:3px;
    padding:5px;
}
#dissServLoginform #dologin
{
    margin-top:10px;
    width:47%;
    height:20px;
    border: 1px solid white;
    border-radius:3px;
    color:white;
    background-color:#88DBDF;
    font-size:14px;
}
#dissServLoginform #cancelLogin
{
    margin-top:10px;
    width:47%;
    height:20px;
    border:none;
    border-radius:3px;
    border: 1px solid white;
    color:white;
    background-color:#88DBDF;
    font-size:14px;
}
#dissServLoginform #loginInfo
{
    color:white;
    font-size:14px;
    text-align: center;
}
#dissServLoginform #loginErrorDiv
{
    color:red;
    font-size:14px;
    text-align: center;
}
/***  DISSERV LOGIN FORM END  ***/ 

.row {
    margin-left: 0px !important;
}

/** CITE LOADER **/
#cite-loader {
    /*animation-name: citeloadanim;
    animation-duration: 40s;
    background-color: #7f8c8d;
    */
    width:100%;
    height:auto;

}

@keyframes citeloadanim {
    0%   {background-color: white;}
    25%  {background-color: #ecf0f1;}
    50%  {background-color: #bdc3c7;}
    100% {background-color: #95a5a6;}
    from {background-color: #7f8c8d;}
}

.cite-style {
    margin-right: 1px !important;
}

#highlight-biblatex {
    white-space: break-spaces !important;
}

div.pl-2.pb-1.arche-versions-row.version-highlighted {
    background-color: #5aa8cc !important;
    color: white !important;
}

div.version-warning {
    background-color: #faeb90;
    margin: 0 0 5px;
    padding: 4px 0 2px 0;
    border-radius: 0px;
    font-weight: normal;
    text-align: center;
}

div.version-warning i.material-icons{
    font-size: 1em;
    padding-right: 2px;
}

/* AUDIO PLAYER */
.arche-audio-player-container {
    width: 95%;
    margin: 0 auto;
}
.audio {
    width: 100%; 
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
}

.arche_detail_view_main {
    margin-left: -10px !important;
}

i.material-icons.breadcrumb-icon {
    font-size: 12px !important;
    padding-top: 4px !important;
    padding-right: 5px !important;
}

div.search-result-warning {
    background-color: #faeb90;
    margin: 0 0 5px;
    padding: 4px 0 2px 0;
    border-radius: 0px;
    font-weight: normal;
    text-align: center;
}

.versions-title {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.versions-text {
    padding-right: 0px !important;
     padding-left: 0px !important;
    margin-right: 0px !important;
}
#versions-tree {
    overflow-x: auto;
    overflow-y: hidden;    
}
.container .versions-content-div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fieldset-wrapper .versions-list {
    margin-left: 0px !important;
}

.res-prop-value {
    word-break: normal !important;
}

li.paginate_button.page-item > a.page-link {
    color: #333 !important;
}

li.paginate_button.page-item.active > a.page-link {
    background-color: #88DBDF !important;
    color: white !important;
    border-color: #88DBDF !important;
}


.arche-loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#basic-ov-view {
   padding: 0px;
}

.sks-form > form > .form-actions {
    display: block !important;
}