<phpunit colors="true" verbose="true">
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <testsuite name="tests">
        <directory>src/tests/src/Unit/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Helper</directory>
            <directory suffix=".php">src/Model</directory>
            <directory suffix=".php">src/Object</directory>
                <exclude>
                    <directory>src/tests/*</directory>
                    <directory>src/Controller/*</directory>
                    <directory>src/EventSubscriber/*</directory>
                    <directory>src/Form/*</directory>
                    <directory>src/PathProcessor/*</directory>
                    <directory>src/Plugin/*</directory>
                    <directory>src/TwigExtension/*</directory>
                </exclude>
        </whitelist>
    </filter>
</phpunit>
