
<h3 class="overview-h3">Summary</h3>

<div class="res-property">
    <div class="res-property">
        <i class="material-icons">info_outline</i>

        <span class="res-prop-label">Related Discipline(s):</span>

        <span class="res-prop-value">
         <a id="archeHref" href="/browser/oeaw_detail/17319">Information technology</a>
        </span>
    </div>

</div>

<div class="res-property">

    <div class="res-property">
        <i class="material-icons">info_outline</i>

        <span class="res-prop-label">Subject(s):</span>

        <span class="res-prop-value">

            Digital Preservation

            ,
            Metadata,
            Repositories
        </span>
    </div>

</div>

<div class="res-property">
 
    <div class="res-property">
        <i class="material-icons">info_outline</i>

        <span class="res-prop-label">Spatial Coverage:</span>

        <span class="res-prop-value">
            <a id="archeHref" href="/browser/oeaw_detail/96747">Duckburg</a>

        </span>
    </div>

</div>



<div class="res-property">
   

    <div class="res-property">
        <i class="material-icons">info_outline</i>

        <span class="res-prop-label">Description:</span>

        <span class="res-prop-value">

            This collection is purely fictional and is only used for development of ARCHE to test display of attributes and other stuff.<br>
            We also have a linebreak here<br>
            And another one :-)

        </span>
    </div>

</div>

<div class="res-property">
   

    <div class="res-property">
        <i class="material-icons">info_outline</i>

        <span class="res-prop-label">Note:</span>

        <span class="res-prop-value">

            Remember, this collection is fictitious.
        </span>
    </div>

</div>
