
<div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"><div id="expertTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="expertTable"></label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-striped dataTable no-footer" id="expertTable" style="display: block; width: 100%;" role="grid" aria-describedby="expertTable_info" width="100%" cellspacing="0">
            <thead style="width: 100%; display: table;">
                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="expertTable" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Property: activate to sort column descending">Property</th><th class="sorting" tabindex="0" aria-controls="expertTable" rowspan="1" colspan="1" style="width: 0px;" aria-label="Value(s): activate to sort column ascending">Value(s)</th></tr>
            </thead>
            <tbody style="width: inherit; display: table; word-break: break-all;">

                <tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasAccessRestriction
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Denotes if restricted access applies to the Resource (A). Choose from list.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/277">public</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasAvailableDate
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="The date the repository resource was created in ARCHE.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">
                                2023-01-18
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasBinarySize
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Indicates size in bytes of a Resource or Collection.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                0.02 MB
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasBinaryUpdatedDate
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="The date of the last resource's binary payload update; in contrary to acdh:hasUpdatedDate which indicates any resource modification including metadata-only ones.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                2023-01-18T11:46:21.129686
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasCategory
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Type of Resource, e.g. image. Choose from list. Can be refined with hasDescription, hasFormat, hasExtent, etc.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                <a id="archeHref" href="/browser/oeaw_detail/17714">Text</a>
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasCharacterEncoding
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Information about character encoding used and also information about non-standard characters and glyphs used.
                               Indicate character encoding according to the overview of Character Sets by IANA: https://www.iana.org/assignments/character-sets/character-sets.xhtml">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                UTF-8

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasCreatedStartDate
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="The date the Resource or Collection itself was put together. If a date range should be indicated add the end date with hasCreatedEndDate.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                2016-10-03
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasDepositor
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Person or organisation (B) responsible for submitting a resource (A) to the repository.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">
                                <a id="archeHref" href="/browser/oeaw_detail/96740">Daisy Duck</a>
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasDescription
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="A verbose description of certain aspects (content, coverage, completeness, extent, motivation, etc.) of an entity. This is the most generic property, use more specific sub-properties where applicable.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">
                                The charter of wollmilchsau.
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasFormat
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Format of a Resource (A). Indicated as MIME type.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasHosting
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Institution responsible for preservation and hosting of a resource. (cf. DataCite: HostingInstitution) Typically, the organisation allowing the resource to be available on the internet through the provision of its hardware, software and operating support.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                <a id="archeHref" href="/browser/oeaw_detail/283">ARCHE</a>
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasIdentifier
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Unique identifier given by ARCHE and used in ARCHE systems, as well as identifiers with a stable URL or URI assigned by other parties, e.g. a DOI, a geonames ID or an URN.
                               Input as URI.
                               Handles belong into hasPid and all other identifiers without URL or URI, like local assigned ones, project numbers or inventory numbers into hasNonLinkedIdentifier.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">
                                <a href="https://arche-dev.acdh-dev.oeaw.ac.at/api/212305" target="_blank">https://arche-dev.acdh-dev.oeaw.ac.at/api/212305</a>
                                ,                                     

                                <a href="https://id.acdh.oeaw.ac.at/wollmilchsau/ACDH-DepositionAgreement.docx" target="_blank">https://id.acdh.oeaw.ac.at/wollmilchsau/ACDH-DepositionAgreement.docx</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasLicense
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Denotes the license attached to an object.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/383">Attribution 4.0 International (CC BY 4.0)</a>
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasLicensor
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Person or Organisation (B) responsible for choosing a license for the object (A).">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">
                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/96739">Organisation zum Kampf gegen Monster aller Art</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasMetadataCreator
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Person or Organisation (B) responsible for creating metadata describing an entity according to the ARCHE schema. Additional structured and machine readable metadata in a format like a TEI, CMDI, LIDO etc. can be added as an entity of the Class Metadata.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                <a id="archeHref" href="/browser/oeaw_detail/96740">Daisy Duck</a>
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasOaiSet
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="OAI-PMH set a Project, Collection, Resource or Metadata belongs to. Choose from list.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">


                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/388">ARIADNE</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasOwner
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Person or Organisation (B) who owns a given Collection or Resource (A).">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/96739">Organisation zum Kampf gegen Monster aller Art</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasRightsHolder
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Person or Organisation (B) owning or managing property rights, including intellectual property rights over the resource (A). (cf. DataCite: RightsHolder)">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/96735">Scrooge McDuck's secret agency</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasTitle
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Title or name of an entity.
                               If left empty for a Person it is automatically computed by combining first and last names.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                ACDH-DepositionAgreement.docx

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:hasUpdatedDate
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="The date of the last update or change to the resource.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                2023-01-18T11:46:21.636698

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        <div style="float:left;">
                            acdh:isPartOf
                        </div>
                        <div style="float:right;">
                            <a class="" data-toggle="tooltip" data-placement="right" data-html="true" title="" data-original-title="Indicates an object (A) is a part of an aggregate collection (B), e.g. items of a Collection or a Place within another Place.">
                                <i class="material-icons" style="font-size:17px; color: #88DBDF;"></i>
                            </a>
                        </div>
                    </td>
                    <td width="60%">
                        <div class="res-property">

                            <span class="res-prop-value">

                                <a id="archeHref" href="/browser/oeaw_detail/212297">Die eierlegende Wollmilchsau</a>

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        acdh:aclRead
                    </td>
                    <td width="60%">
                        <div class="res-property">

                            <span class="res-prop-value">

                                mkirnbauer

                                ,                                     

                                public

                            </span>
                        </div>
                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        acdh:aclWrite
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                mkirnbauer
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        acdh:createdBy
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                mkirnbauer

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        acdh:hasBinaryUpdatedRole
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                mkirnbauer

                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        acdh:hasFilename
                    </td>
                    <td width="60%">

                        <div class="res-property">

                            <span class="res-prop-value">

                                ACDH-DepositionAgreement.docx
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        acdh:hasHash
                    </td>
                    <td width="60%">
                        <div class="res-property">

                            <span class="res-prop-value">

                                sha1:2f3df78f7d33221e615f361a999759f0a809ec86
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        acdh:hasRawBinarySize
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">

                                23351
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="odd">
                    <td class="sorting_1" width="40%">
                        acdh:hasUpdatedRole
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                mkirnbauer
                            </span>
                        </div>

                    </td>
                </tr><tr role="row" class="even">
                    <td class="sorting_1" width="40%">
                        rdf:type
                    </td>
                    <td width="60%">
                        <div class="res-property">
                            <span class="res-prop-value">
                                <a href="https://vocabs.acdh.oeaw.ac.at/schema#Resource" target="_blank">https://vocabs.acdh.oeaw.ac.at/schema#Resource</a>
                            </span>
                        </div>

                    </td>
                </tr></tbody>
        </table>
    </div>
</div>
<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="expertTable_info" role="status" aria-live="polite">Showing 1 to 30 of 30 entries</div></div><div class="col-sm-12 col-md-7"></div></div>
