

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12">
            <div class="bd-clipboard">
                <span id="copy-cite-btn" class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span>
                <span id="copy-cite-btn-confirmation">Citation information copied!</span>
            </div>


            <figure class="highlight" id="cite-content-figure">
                <span class="cite-content selected" id="highlight-apa-6th">
                    <div class="csl-bib-body">
                        <div data-csl-entry-id="Duck_2023_212501" class="csl-entry">
                            Dagduck. (2023). <i>Die eierlegende Wollmilchsau</i> (D. Duck, Ed.; 0.75) [Data set]. https://arche-dev.acdh-dev.oeaw.ac.at/api/212501
                        </div>
                    </div>
                </span>
                <span class="cite-content hidden" id="highlight-harvard">
                    <div class="csl-bib-body">
                        <div data-csl-entry-id="Duck_2023_212501" class="csl-entry">Dagduck, 2023. Die eierlegende Wollmilchsau D. Duck, ed. Available at: https://arche-dev.acdh-dev.oeaw.ac.at/api/212501 [Accessed February 16, 2023].
                        </div>
                    </div>
                </span>
                <span class="cite-content hidden" id="highlight-vancouver">
                    <div class="csl-bib-body">
                        <div data-csl-entry-id="Duck_2023_212501" class="csl-entry">
                            <div class="csl-left-margin">1. </div>
                            <div class="csl-right-inline">
                                Dagduck. Die eierlegende Wollmilchsau [Internet]. Duck D, editor. 2023 [cited 2023 Feb 16]. Available from: https://arche-dev.acdh-dev.oeaw.ac.at/api/212501
                            </div>
                        </div>
                    </div>
                </span>
                <span class="cite-content hidden" id="highlight-biblatex">@dataset{Duck_2023_212501,
                    title = {Die eierlegende Wollmilchsau},
                    date = {2023-02-15T13:15:19.800605},
                    eprinttype = {hdl},
                    url = {https://arche-dev.acdh-dev.oeaw.ac.at/api/212501},
                    urldate = {2023-02-16},
                    editor = {Duck, Donald},
                    author = {Dagduck},
                    version = {0.75},
                    editoratype = {compiler},
                    keywords = {Information technology, Duckburg, Digital Preservation, Metadata, Repositories},
                    abstract = {This collection is purely fictional and is only used for development of ARCHE to test display of attributes and other stuff.
                    We also have a linebreak here
                    And another one :-)}
                    }
                </span>
            </figure>
        </div>
        
        <div class="col-lg-12">
            <select name="" id="" class="float-right">
                <option value="">APA 6TH</option>
                <option value="">HARVARD</option>
                <option value="">VANCOUVER</option>
                <option value="">BIBLATEX</option>
            </select>
        </div>
    </div>
</div>