
<form accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-metavalue,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,my-checkbox,edit-submit">

    <fieldset>
        <legend>
            <span class="fieldset-legend">Search on the Map</span>
        </legend>
        <div class="fieldset-wrapper">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=16.320190429687504%2C48.180910198359534%2C16.422500610351566%2C48.232505899474305&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=14/48.2067/16.3713">View Larger Map</a></small>
        </div>
    </fieldset>

    <fieldset class="checkbox-custom payloadSearch fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-payloadsearch--wrapper" data-drupal-selector="edit-payloadsearch">
        <legend>
            <span class="fieldset-legend">Search in payload?</span>
        </legend>
        <div class="fieldset-wrapper">
            <div id="edit-payloadsearch" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-payloadsearch-yes js-form-item-payloadsearch-yes">
                    <input class="checkbox-custom payloadSearch form-checkbox" id="my-checkbox" data-drupal-selector="edit-payloadsearch-yes" type="checkbox" name="payloadSearch[Yes]" value="Yes">

                    <label for="edit-payloadsearch-yes" class="option">Yes</label>
                </div>
            </div>

        </div>
    </fieldset>
    <fieldset class="checkbox-custom searchbox_types fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-searchbox-types--wrapper" data-drupal-selector="edit-searchbox-types">
        <legend>
            <span class="fieldset-legend">Type of Entity</span>
        </legend>
        <div class="fieldset-wrapper">
            <div id="edit-searchbox-types" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhcollection js-form-item-searchbox-types-acdhcollection">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhcollection" type="checkbox" name="searchbox_types[acdh:Collection]" value="acdh:Collection">

                    <label for="edit-searchbox-types-acdhcollection" class="option">Collection (1064)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhdisseminationservice js-form-item-searchbox-types-acdhdisseminationservice">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhdisseminationservice" type="checkbox" name="searchbox_types[acdh:DisseminationService]" value="acdh:DisseminationService">

                    <label for="edit-searchbox-types-acdhdisseminationservice" class="option">DisseminationService (16)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhdisseminationservicematchrule js-form-item-searchbox-types-acdhdisseminationservicematchrule">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhdisseminationservicematchrule" type="checkbox" name="searchbox_types[acdh:DisseminationServiceMatchRule]" value="acdh:DisseminationServiceMatchRule">

                    <label for="edit-searchbox-types-acdhdisseminationservicematchrule" class="option">DisseminationServiceMatchRule (28)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhdisseminationserviceparameter js-form-item-searchbox-types-acdhdisseminationserviceparameter">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhdisseminationserviceparameter" type="checkbox" name="searchbox_types[acdh:DisseminationServiceParameter]" value="acdh:DisseminationServiceParameter">

                    <label for="edit-searchbox-types-acdhdisseminationserviceparameter" class="option">DisseminationServiceParameter (10)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhmetadata js-form-item-searchbox-types-acdhmetadata">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhmetadata" type="checkbox" name="searchbox_types[acdh:Metadata]" value="acdh:Metadata">

                    <label for="edit-searchbox-types-acdhmetadata" class="option">Metadata (2)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhorganisation js-form-item-searchbox-types-acdhorganisation">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhorganisation" type="checkbox" name="searchbox_types[acdh:Organisation]" value="acdh:Organisation">

                    <label for="edit-searchbox-types-acdhorganisation" class="option">Organisation (852)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhperson js-form-item-searchbox-types-acdhperson">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhperson" type="checkbox" name="searchbox_types[acdh:Person]" value="acdh:Person">

                    <label for="edit-searchbox-types-acdhperson" class="option">Person (3910)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhplace js-form-item-searchbox-types-acdhplace">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhplace" type="checkbox" name="searchbox_types[acdh:Place]" value="acdh:Place">

                    <label for="edit-searchbox-types-acdhplace" class="option">Place (1428)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhproject js-form-item-searchbox-types-acdhproject">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhproject" type="checkbox" name="searchbox_types[acdh:Project]" value="acdh:Project">

                    <label for="edit-searchbox-types-acdhproject" class="option">Project (1)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhpublication js-form-item-searchbox-types-acdhpublication">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhpublication" type="checkbox" name="searchbox_types[acdh:Publication]" value="acdh:Publication">

                    <label for="edit-searchbox-types-acdhpublication" class="option">Publication (12)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhresource js-form-item-searchbox-types-acdhresource">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhresource" type="checkbox" name="searchbox_types[acdh:Resource]" value="acdh:Resource">

                    <label for="edit-searchbox-types-acdhresource" class="option">Resource (80507)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-types-acdhtopcollection js-form-item-searchbox-types-acdhtopcollection">
                    <input class="checkbox-custom searchbox_types form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-types-acdhtopcollection" type="checkbox" name="searchbox_types[acdh:TopCollection]" value="acdh:TopCollection">

                    <label for="edit-searchbox-types-acdhtopcollection" class="option">TopCollection (17)</label>
                </div>
            </div>

        </div>
    </fieldset>
    <fieldset class="checkbox-custom searchbox_category fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-searchbox-category--wrapper" data-drupal-selector="edit-searchbox-category">
        <legend>
            <span class="fieldset-legend">Category</span>
        </legend>
        <div class="fieldset-wrapper">
            <div id="edit-searchbox-category" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-3d-data17683 js-form-item-searchbox-category-3d-data17683">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-3d-data17683" type="checkbox" name="searchbox_category[3d-data:17683]" value="3d-data:17683">

                    <label for="edit-searchbox-category-3d-data17683" class="option">3d data (2)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-dataset17691 js-form-item-searchbox-category-dataset17691">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-dataset17691" type="checkbox" name="searchbox_category[Dataset:17691]" value="Dataset:17691">

                    <label for="edit-searchbox-category-dataset17691" class="option">Dataset (2)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-image17695 js-form-item-searchbox-category-image17695">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-image17695" type="checkbox" name="searchbox_category[Image:17695]" value="Image:17695">

                    <label for="edit-searchbox-category-image17695" class="option">Image (60443)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-model17702 js-form-item-searchbox-category-model17702">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-model17702" type="checkbox" name="searchbox_category[Model:17702]" value="Model:17702">

                    <label for="edit-searchbox-category-model17702" class="option">Model (3)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-sound17711 js-form-item-searchbox-category-sound17711">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-sound17711" type="checkbox" name="searchbox_category[Sound:17711]" value="Sound:17711">

                    <label for="edit-searchbox-category-sound17711" class="option">Sound (1)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-text17714 js-form-item-searchbox-category-text17714">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-text17714" type="checkbox" name="searchbox_category[Text:17714]" value="Text:17714">

                    <label for="edit-searchbox-category-text17714" class="option">Text (58)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-searchbox-category-xml-tei17716 js-form-item-searchbox-category-xml-tei17716">
                    <input class="checkbox-custom searchbox_category form-checkbox" id="my-checkbox" data-drupal-selector="edit-searchbox-category-xml-tei17716" type="checkbox" name="searchbox_category[XML-TEI:17716]" value="XML-TEI:17716">

                    <label for="edit-searchbox-category-xml-tei17716" class="option">XML/TEI (8298)</label>
                </div>
            </div>

        </div>
    </fieldset>
    <fieldset class="checkbox-custom datebox_years fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-datebox-years--wrapper" data-drupal-selector="edit-datebox-years">
        <legend>
            <span class="fieldset-legend">Entities by Year</span>
        </legend>
        <div class="fieldset-wrapper">
            <div id="edit-datebox-years" class="form-checkboxes"><div class="js-form-item form-item js-form-type-checkbox form-item-datebox-years-2023 js-form-item-datebox-years-2023">
                    <input class="checkbox-custom datebox_years form-checkbox" id="my-checkbox" data-drupal-selector="edit-datebox-years-2023" type="checkbox" name="datebox_years[2023]" value="2023">

                    <label for="edit-datebox-years-2023" class="option">2023 (35)</label>
                </div>
                <div class="js-form-item form-item js-form-type-checkbox form-item-datebox-years-2022 js-form-item-datebox-years-2022">
                    <input class="checkbox-custom datebox_years form-checkbox" id="my-checkbox" data-drupal-selector="edit-datebox-years-2022" type="checkbox" name="datebox_years[2022]" value="2022">

                    <label for="edit-datebox-years-2022" class="option">2022 (97481)</label>
                </div>
            </div>

        </div>
    </fieldset>
    <input autocomplete="off" data-drupal-selector="form-aqsos5zruebyzyxkh3t-eipl2vmbrg8l0813j24ut-c" type="hidden" name="form_build_id" value="form-aqSoS5zRuebYZyxkH3t-eiPL2vMbRG8L0813J24uT-c">
    <input data-drupal-selector="edit-sks-form-form-token" type="hidden" name="form_token" value="qdf5fFZ3uz4tbiTitEqTcdID-VUo1UeaYi0EX4j5zIA">
    <input data-drupal-selector="edit-sks-form" type="hidden" name="form_id" value="sks_form">
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="complexsearch-btn button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Apply the selected search filters">
    </div>

</form>
