body {
    margin: 0;
    padding: 0;
}
.pdfviewer {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
.pdfviewer-container {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex: 1;
}
.thumbnails {
    width: 150px !important;
    border: 1px solid #aaa;
    border-right: 3px solid #999;
    background: #ccc;
}
.thumbnails .pdfpage.selected {
    border: 2px solid #777;
    border-radius: 2px;
}
.maindoc {
    flex: 1;
}
.hide {
    display: none;
}
input[type="file"] {
    display: none;
}

.modal-body {
    min-height: 550px;
}

.pdf-viewer-content {
    height: 500px;
}

.modal-header-title {
    width: 100%;
}