<!-- related publiactions resources view -->
<div class="single-res-overview-related-pub-res">
    <h3 class="single-res-heading">{{ "Related Publication(s) and Resource(s)"|trans }}</h3>
    
    <div id="rprTableDiv" style="display: none;">
        <table class="rprTable table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ "Title"|trans }}</th>
                    <th>{{ "Related Resource(s)"|trans }}</th>
                    <th>{{ "Type"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>            
</div>	


