<!--  ARCHE DETAIL VIEW VERSIONS BLOCK TEMPLATE -->
<div class="">
    <h3 class="">
        {{ "Versions"|trans }}
    </h3>
</div>
    
<div class="block">
    {% for key, value in result %}
        <div class="pl-2 pb-1">
            <a href="/browser/oeaw_detail/{{ value.id }}">{{ "Version"|trans }} - {{ value.avdate|date('Y-m-d') }}</a>
        </div>
    {% endfor %}
</div>


