<script src="/browser/modules/contrib/arche-gui/js/wavesurfer.6.4.0.js"></script>

<div class="modal fade" id="audioModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h3 class="single-res-heading">{{ "Audio Player"|trans }}</h3>
                <div>
                    {%  if basic.getTitle() %}
                        <center><h2>{{ basic.getTitle() }} </h2></center>
                        {% endif %}
                </div>    

                <div class="arche-audio-player-container">
                    <div id="waveform"></div>
                    <div class="controls" style="text-align: center;">
                        <button class="btn btn-primary" data-action="play">
                            <i class="glyphicon glyphicon-play"></i>
                            Play
                            /
                            <i class="glyphicon glyphicon-pause"></i>
                            Pause
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var btn = document.getElementById("audioPlayerBtn");
    btn.onclick = function () {
        var player = WaveSurfer.create({container: '#waveform'});
        player.load('{{ audio_url }}');

        player.on('ready', function () {
            player.play();
        });
        // toggle play button
        document
                .querySelector('[data-action="play"]')
                .addEventListener('click', player.playPause.bind(player));

    }
</script>