
<h3 class="single-res-heading">{{ "Audio Player"|trans }}</h3>
<div class="arche-audio-player-container">
    <audio class="audio" controls="controls" preload="auto">
        <source type="audio/mpeg" src="{{ audio_url }}">
    </audio>
</div>
    
    
