<!-- related publiactions resources view -->
<br/>
<div class="single-res-overview single-res-overview-related-pub-res">
    
    <h3 class="single-res-heading">{{ "Related Publications and Resources"|trans }}</h3>
    
    <table class="rprTable table table-striped" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>{{ "Title"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>	
<br>
