<div id="vcr-div">
    <h3 class="single-res-heading">{{ "CLARIN Virtual Collection"|trans }}</h3>
    <div class="res-act-button">
        <a href="#" id="getClarinVCR" data-vcrdata="{{ data }}" >{{ "Add to CLARIN Virtual Collection"|trans }}</a>
    </div>
</div>