{{ attach_library('acdh_repo_gui/ds-pdf-modal-styles') }}

<div class="modal fade" id="pdfModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div>
                    {%  if basic.getTitle() %}
                        <center><h2>{{ basic.getTitle() }} </h2></center>
                    {% endif %}
                </div>    
                <div id="pdf-viewer-div">
                    <div id="pdf-viewer-modal-div">
                        <div class="pdf-viewer-content">
                            <link rel="stylesheet" type="text/css" href="/browser/core/themes/classy/css/components/messages.css">
                           
                            <div class="pdf-container" data-href="{{  basic.getRepoUrl()|raw  }}"></div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>