
<div>
    <h3 class="single-res-heading">{{ "Cite Resource"|trans }}</h3>
    
    <div id="cite-loader">
        <center><div class="loader-cite"></div></center>
    </div>
    <div id='cite-content-div' class='hidden'>
    
        <div class="cite-selector" id="cite-selector-div"></div>

        <div class="bd-clipboard">
            <span id="copy-cite-btn" class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</span>
            <span id="copy-cite-btn-confirmation">{{ "Citation information copied"|trans }}!</span>
        </div>

        <figure class="highlight" id="cite-content-figure"></figure>
    </div>
</div>
