
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
<!-- <input type="text" id="searchInput" placeholder="Search for a location">
<button onclick="searchMarkers()">Search</button> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <input type="text" id="searchInput" placeholder="Search for markers">
        </div>
        <div class="col-lg-1">
            <button id="closeSMSMapButton">Close Map</button>
        </div>
    </div>
</div>


<div class="smMapSearchResultsContainer">
    <div id="smMapSearchResults"></div>
</div>
<div id="map" class="sms-map"></div>
<div id="map-loader" class="map-loader"></div>


<script>
   
</script>

